/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
    background: #65768b;
    color: #f1f2f1;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
a {
    text-decoration: none;
    color: #f1f2f1;
    font-weight: bold;
}

.navimg {
    width: 60px;
    height: 60px;
    margin: -3% 0 0 30%;
}

.navi {
    margin: 30px 10px 10px 10px;
    clear: both;
}

.navi .sec1 {
    float: left;
    width: 33%;
    margin: 0 0 0 4%;
}

.navi .sec1 > p {
    float: left;
    width: 20%;
    margin: 0 0 0 0;
    font-style: bold;
}

.navi .sec2 {
    float: left;
    width: 33%;
    margin: 0 0 0 0;
}

.navi .sec3 {
    float: left;
    width: 28%;
    margin: 0 0 0 0;
}

.navi .sec3 > p {
    margin: 0 0 0 75%;
}

.test {
    background-color: #f1f2f1;
    border: none;
    border-radius: 8px;
    color: #65768b;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
