/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.navimg {
    width: 40px;
    height: 40px;
    margin: 0 0 0 30%;
}

.navi .sec1 {
    float: left;
    width: 33%;
    margin: 0 0 0 4%;
}

.navi .sec1 > p {
    float: left;
    width: 16%;
    margin: 0 0 0 0;
}

.navi .sec2 {
    float: left;
    width: 33%;
    margin: 0 0 0 0;
}
.navi .sec3 {
    float: left;
    width: 28%;
    margin: 0 0 0 0;
}

.navi .sec3 > p {
    margin: 0 0 0 75%;
}
