<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
        <button onclick="lolkek()">LET ME IN</button>
		<script>
            function lolkek() {
                var name = window.prompt("ENTER SUPER SECRET PASSWORD");
                if ( name == 'shit' ) {
                    window.location.href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ';
                } else {
                    alert("access denied")
                    exit()
                }
            }
        </script>
	</body>
</html>
