<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="" content="">
  	<meta name="" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<script type="text/javascript" src="js/main.js"></script>
    <nav>
        <a class="left" href="#">Source</a>
        <ul>
            <li><a href="#">First link</a></li>
            <li><a href="#">Second link</a></li>
            <li><a href="#">Thrid link</a></li>
            <li><a href="#">Fourth link</a></li>
        </ul>
        <a class="right" href="#">Button</a>
    </nav>
    <div></div>
    <section class="main">
        <p>TAGLINE</p>
        <h1>Source helps people do more of what they love</h1>
        <input></input>
        <p>Vestibulum convallis, lorem a tempus semper, dui dui euismod elit, vitae placerat urna tortor vitae lacus. </p>
    </section>
    <section class="main">
        <img class="lol" src="" alt="lol">
    </section>
    <div></div>
    <section class="manu">
    <section class="floaters">
        <p>feature1</p>
        <p>lorem ipsum lorem ipsum</p>
        <a>first link</a>
    </section>
    <section class="floaters">
        <p>feature1</p>
        <p>lorem ipsum lorem ipsum</p>
        <a>first link</a>
    </section>
    <section class="floaters">
        <p>feature1</p>
        <p>lorem ipsum lorem ipsum</p>
        <a>first link</a>
    </section>
    <section class="floaters">
        <p>feature1</p>
        <p>lorem ipsum lorem ipsum</p>
        <a>first link</a>
    </section>
    </section>
    <div></div>
    <section class="bigone">
        <h2>collecting information about the problem</h2>
        <p>Donec neque quam, dignissim in, mollis nec, sagittis eu, wisi.</p>
    </section>
	</body>
</html>
