/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
nav,ul,main, main section:first-child{
    display: flex;
}
nav, ul, main section{
    justify-content: space-around;
}
ul{
    flex-basis: 30%;
}
img{
    width: 30%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
