<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="" content="">
  	<meta name="" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<script type="text/javascript" src="js/main.js"></script>
    		<nav>
        <p>O</p>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">TEAM</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">LOGIN</a></li>
            <li><a href="#">SIGN UP</a></li>
        </ul>
    </nav>
    <section>
        <h1>Inject your brand and values into a phisical space</h1>
        <p>In id erat non orci commodo lobortis.  Vestibulum convallis, lorem a tempus semper, dui dui euismod elit.</p>
        <a href=""></a>
        <a href=""></a>
        <img src="" alt="">
    </section>
    <section>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </section>
    <section>
        <h2>Inject your brand and values into a phisical space</h2>
        <p>In id erat non orci commodo lobortis.  Vestibulum convallis, lorem a tempus semper, dui dui euismod elit.</p>
        <a href=""></a>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </section>
    <section>
        <img src="#">
        <span></span>
        <h2></h2>
        <p></p>
        <a href=""></a>
    </section>
    <section>
        <h3></h3>
        <p></p>
    </section>
    <section>
        <img src="#">
        <span></span>
        <h2></h2>
        <p></p>
        <a href=""></a>
    </section>
	</body>
</html>
