<!DOCTYPE html>
<html lang="en">
	  <head>
  	    <meta charset="utf-8">
  	    <meta name="" content="">
  	    <meta name="" content="">
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      <title></title>
	      <!-- external CSS link -->
	      <link rel="stylesheet" href="css/normalize.css">
	      <link rel="stylesheet" href="css/style.css">
	  </head>
	  <body>
		    <script type="text/javascript" src="js/main.js"></script>
    		<nav>
            <p>O</p>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">TEAM</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">LOGIN</a></li>
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </nav>
        <section>
            <h1>Inject your brand and values into a phisical space</h1>
            <p>Place an order now, and our creative worksmiths are on it like dots on i's with all the necessary lol. Reduces your total IOT costs of operations.</p>
            <a href="">ORDER CONTENT</a>
            <a href="">CREATE AN ACCOUNT</a>
        </section>
        <div class="img">
            <img src="" alt="lol">
        </div>
        <section class="iBar">
            <ul>
                <li>airbnb</li>
                <li>shopify</li>
                <li>salesforce</li>
                <li>twitter</li>
                <li>netflix</li>
                <li>dropbox</li>
                <li>huge</li>
            </ul>
        </section>
        <footer>
            <div>
                <ul>
                    <li><a>circlecirle ltd</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a>circlecirle ltd</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a>circlecirle ltd</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a>circlecirle ltd</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a>circlecirle ltd</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a>circlecirle ltd</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                    <li><a>lorem</a></li>
                </ul>
            </div>
        </footer>
	  </body>
</html>
