/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav {
	margin: 10px 10px 10px 10px;
	height: 100px;
}
nav p {
    margin: 10px 60px 10px 60px;
    float: left;
}
nav ul {
    float: right;
    margin: 10px 60px 10px 10px;
}
nav ul li {
    float: right;
    margin: 10px 10px 10px 10px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: gray;
}
section {
    clear: both;
}
